body {
	font-family: 'Lato', sans-serif;
	margin:0;
}


#navbar {
	height: 110px;
	width: 100%;
	box-shadow: 0px 2px 8px #888888;
	z-index: 10;
	position: fixed;
	display: flex;
	background: white;
}

#name {
	width: 40%;
	font-size: 42px;
	margin-top: 2.5%;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
	text-decoration: underline;
	text-decoration-color: #FCBF49;
}
#name:hover {
	cursor: pointer;
}


#button-container {
	width: 250px;
	position: absolute;
	overflow: hidden;
	display: flex;
	right: 0px;
	margin-top: 3.5%;
	margin-left: 2.5%;
	margin-bottom: 2.5%

}

.button {
	font-size: 18px;
	padding: 1% 1% 1% 1%;
	margin-right: 10%;
	color: black;
	text-decoration: none;

}
.button:hover {
	color: #FCBF49;
	cursor: pointer;
}

#profile-picture {
	width: 100%;
	margin-top: 110px;
	margin-bottom: 0px

}

#biosection {
	font-size: 36px;
	margin-left: 2.5%;
}
#about {
	font-size: 30px;
}
.dec {
	text-decoration: underline;
	color: #FCBF49;
	text-decoration-color: black;
}

.divider {
	width: 100%;
	height: 110px;
	background-color: #482C3D;
	margin-top: -5px;
}

#blogsection {
	font-size: 36px;
	margin-left: 2.5%;
}
#blog-about {
	font-size: 18px;
}

#pic-container {
	display: flex;
	overflow: scroll;
	height: 50%;
	margin-bottom: 10%;
	margin-right: 2.5%;
}
.item {
	height: 250px;
	margin-right: 10px;
}


#contact-container {
	font-size: 36px;
	margin-left: 2.5%;
}

#contact-about {
	font-size: 30px;
}