
body {
	margin: 0;
	background: #eeeeee;
	font-family: 'Raleway', sans-serif;
}

/************/
/*QUESTION 1*/
/************/

#q1-navbar {
	background: #364156;
	color: white;
	/*DO FLEX HERE*/
	display: flex;

}

/*add code below for a css selector and pseudo-selector for the elements you created*/
.q1-button {
	padding: 10px 10px 10px 10px;
}
.q1-button:hover {
	cursor: pointer;
	background-color: white;
	color: #364156;
}
/*add code above for a css selector and pseudo-selector for the elements you created*/





/************/
/*QUESTION 2*/
/************/

#q2-grid-container {
	/*DO THE GRID STUFF*/
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px 150px;
	justify-content: space-around;
	align-content: space-around;
}

.q2-button {
	/*Move.... that.... buttttooonnn!!!*/
	grid-column-start: 2;
}


/************/
/*QUESTION 3*/
/************/


#q3-container {
	/*DO THE GRID STUFF*/
	grid-template-columns: 3/4 1/4;
	grid-template-rows: 2/11 4/11 4/11 1/11;
	grid-template-areas: 
		"header"
		"primary"
		"secondary"
		"sidebar"
		"footer";
}

#q3-header {
	background: #62C370;
	/*Add the area*/
	grid-area: header;
}

#q3-primary-content{
	background: #3FA7D6;
	/*Add the area*/
	grid-area: primary;
}

#q3-secondary-content {
	background:  #F79D84;
	/*Add the area*/
	grid-area: secondary;
}

#q3-side-content {
	background: #FAC05E;
	/*Add the area*/
	grid-area: side;
}

#q3-footer {
	background: #EE6352;
	/*Add the area*/
	grid-area: footer;
}

/*ADD A SELECTOR BELOW AND CENTER THE TEXT*/









/*Part 1 of lab completed -- Move onto Figma!*/




/*************************/
/*OTHER CODE THAT WE USED*/
/*************************/

/*Question 1 stuff*/
#q1-navbar {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.q1-section {
	width: 100%;
	height: 400px;
	opacity: 0.5;
}
.q1-section:nth-child(odd) {
	background-color: #EE6352;
}
.q1-section:nth-child(even) {
	background-color: #F79D84;
}

/*Question 2 stuff*/
#q2-container-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.q2-grid-item {
	border: 4px solid #eeeeee;
	background-color: #364156;
	border-radius: 4px;
	color: white;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 10px -3px black;
	
}

.q2-image {
	display: none;
	height: 110%;
	width: 110%;
	object-fit: cover;
	border-radius: 4px;
}

#q2-grid-container {
	background: #B4C5E4;
	height: 100vh;
	width: 800px;
	box-shadow: 0px 0px 5px #edeae5;
}

.q2-button {
	background-color: #62C370;
	justify-self: center;
	align-self: center;
	width: 120px;
	padding: 8px 16px;
	cursor: pointer;
	font-weight: 700;
	-webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
	box-shadow: 2px 2px 10px -3px black;
}
.q2-button:hover{
	box-shadow: 2px 2px 10px -5px black;
	opacity: 0.8;
}

/*Question 3 stuff*/
#q3-container {
	height: 95vh;

}
#q3-container div {
	font-weight: 700;
	color: white;

}

/*index*/


#index {
	display: grid;
	grid-template-columns: 240px;
	grid-template-rows: 200px;
	justify-content: center;
	align-items; content;
	font-weight: 700;
    
}

#index a {
	text-decoration: none;
}

.question {
    background: #62C370;
    padding: 18px;
    font-size: 16px;
    margin-bottom: 6px;
    border-radius: 2px;
    text-align: center;
    font-weight: 700;
    color: #4a4a4a;
    cursor: pointer;
    box-shadow: 2px 2px 10px -3px black;
    color: white;
}

.question:hover {
	box-shadow: 2px 2px 10px -5px black;
	opacity: 0.8;
}

.title {
	color: #333333;
	background: #eeeeee;
	box-shadow: none;
	display: grid;
	justify-self: center;
	font-size: 36px;
	width: 400px;
	height: 100px;
	margin-top: 24px;
	cursor: auto !important;
}

.title:hover {
	box-shadow: none !important;
	opacity: 1 !important;
}



 











